BasedOnStyle: LLVM
SortIncludes: false
ColumnLimit: 200
PointerAlignment: Left
TabWidth: 4
IndentWidth: 4
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: None